/* Reseteo */
* {
    margin: 0;
    padding: 0;
  }
/*desktop*/
body{
    font-family: 'Lato', sans-serif;
}
/*Header*/
.gridHeader {
    display: grid;
    flex-wrap: wrap;
    grid-template-areas: 
            'nav logo redIg'
            '. logo . ';
    width: 100%;
    margin: 5%;
    }
.rotar{
    transform: rotate(-90deg);
    justify-self: start;
}
.grid-menu{
        grid-area: nav;
        justify-content: left;
        font-size: 20px;
}
.grid-menu:hover{
    color: #50B9B0;
}
ul li{
    list-style-type: none;
}
.grid-logo{
    grid-area: logo;
    justify-content: center;
}
.grid-Ig{
    grid-area: redIg;
    justify-content: right;
    opacity: 80%;
}
.logoSM:hover{
    background-image: radial-gradient(white,#50B9B0);
    border-radius: 20%;
}
/* Títulos*/
h1{
    text-align: center;
}
h2{
    text-align: left;
    margin-top: 10%;
    margin-left: 5%;
}
/*Video de hamaca presentación*/
iframe{
    display: inline;
    margin-top: 5%;
    margin-left: 25%;
}